@font-face{font-family:"Source Serif 4 Fallback";src:local(Times New Roman);ascent-override:87.87%;descent-override:28.41%;line-gap-override:0.0%;size-adjust:117.91%}
.google-font-source-serif-4{font-family:"Source Serif 4","Source Serif 4 Fallback";font-style:normal}
.google-font-source-serif-4-variable{--font-display:"Source Serif 4", "Source Serif 4 Fallback"}
@font-face{font-family:Inter Fallback;src:local(Arial);ascent-override:90.44%;descent-override:22.52%;line-gap-override:0.0%;size-adjust:107.12%}
.google-font-inter{font-family:Inter,Inter Fallback;font-style:normal}
.google-font-inter-variable{--font-body:"Inter", "Inter Fallback"}
